<main class="page">
  <section class="clean-block slider">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">
          <strong>Diagnoses</strong>
        </h2>
        <p
          style="
            font-size: 30px;
            color: var(--success);
            font-family: 'Alfa Slab One', cursive;
          "
        >
          Based on the answers you have summited you have No Depression.
        </p>
        <p></p>
      </div>
    </div>
  </section>
</main>
