<main class="page">
    <section class="clean-block slider">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info"><strong>Diagnoses</strong></h2>
                <p style="font-size: 30px;color: var(--yellow);font-family: 'Alfa Slab One', cursive;text-align: justify;">Based on the answers you have summited you have Mild Depression.</p>
                <p style="font-size: 30px;color: rgba(0,0,0,0.9);font-family: 'Alfa Slab One', cursive;text-align: left;margin-top: 15px;"><strong>Please contact Dr Maseko so he can explain what this all mean and help you manage your condition</strong></p>
                <p style="font-size: 30px;color: rgba(0,0,0,0.9);font-family: 'Alfa Slab One', cursive;text-align: left;margin-top: 12px;">You can find Dr Maseko via email on drmaseko@gmail.com or call him on 082 320 7862</p>
                <p></p>
            </div>
            <div class="block-heading">
                <p></p>
            </div>
        </div>
    </section>
</main>