<main class="page">
  <section class="clean-block slider">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">
          <strong>Diagnoses</strong>
        </h2>
        <p
          style="
            font-size: 30px;
            color: var(--yellow);
            font-family: 'Alfa Slab One', cursive;
            text-align: justify;
          "
        >
          Based on the answers you have summited you may have Mild Depression.
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 15px;
          "
        >
          <strong
            >Please contact Dr NM Masilo or any local Psychiatrist so they can
            explain what this all means and help you manage your
            condition</strong
          >
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 12px;
          "
        >
          You can find Dr NM Masilo at 135 Gerhard Street, Die Hoewes, 0157
          Centurion or call her on 012 664 0222
        </p>
        <p></p>
      </div>
      <div class="block-heading">
        <p></p>
      </div>
    </div>
    <app-chart></app-chart>
  </section>
</main>
