<main class="page faq-page">
  <section class="clean-block clean-faq dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">FAQ</h2>
        <p>Here are our frequently asked questions.</p>
      </div>
      <div class="block-content">
        <div class="faq-item">
          <h4 class="question">
            Will my data be collected or used in some way?
          </h4>
          <div class="answer">
            <p>
              No user data will be collect that is why the questionnaire does
              not ask any personal questions that might require any Identifying
              information.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <h4 class="question">
            Can I trust the information provided by this platform?
          </h4>
          <div class="answer">
            <p>
              All information provided has been collected from many health
              associations and verified by many health professionals.
            </p>
          </div>
        </div>
        <div class="faq-item">
          <h4 class="question">How long does it get to get my Diagnosed</h4>
          <div class="answer">
            <p>
              It only takes a few minutes to complete the questionnaire and it
              only takes a few seconds for the machine learning model to give
              you your diagnoses.&nbsp;
            </p>
          </div>
        </div>
        <br /><br /><br /><br /><br />
      </div>
    </div>
  </section>
</main>
