<main class="page">
  <section class="clean-block slider">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">
          <strong>Diagnoses</strong>
        </h2>
        <p
          style="
            font-size: 30px;
            color: #e8112d;
            font-family: 'Alfa Slab One', cursive;
            text-align: justify;
          "
        >
          Based on the answers you have summited you have Severe Depression.
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 15px;
          "
        >
          <strong
            >Please contact Dr Khanyasani so he can explain what this all mean
            and help you manage your condition</strong
          >
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 12px;
          "
        >
          You can find Dr Khanyisani via email on drkhanyisani@gmail.com or call
          him on 082 320 4255
        </p>
        <p></p>
      </div>
      <div class="block-heading">
        <p></p>
      </div>
    </div>
  </section>
</main>
