<main class="page">
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">Benefits</h2>
        <p>What are the advantages of using this platform?<br /></p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box">
          <i class="icon-star icon"></i>
          <h4>EASY ACCESS</h4>
          <p>
            Anyone and everyone can take this question from anywhere even in the
            comfort of their own homes.
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-speedometer icon"></i>
          <h4>HIGH ACCURACY</h4>
          <p>
            The AI used to power this platform has managed to achieve a high
            accuracy of above 90%.
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-screen-smartphone icon"></i>
          <h4>EASE OF USE</h4>
          <p>
            The questions have been made close ended to allow anyone to easily
            answer them. So there is no need to take too much time thinking
            about how to answer them&nbsp;
          </p>
        </div>
        <div class="col-md-5 feature-box">
          <i class="icon-refresh icon"></i>
          <h4>All Browser Compatibility</h4>
          <p>
            This platform supports all browsers including Google chrome, Mozilla
            Firefox, Microsoft Edge, Safari and Internet Explorer.
          </p>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
</main>
