<main class="page testimonials">
    <section class="clean-block clean-testimonials dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Testimonials</h2>
                <p>These are the people who used our platform and got the help they needed.</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">"A special thanks to Impilo yam for helping get the the held I didn't know I needed"</p>
                            <h3>Gift Mahlangu</h3>
                            <h4 class="card-title">Founder of Namanje PTY LTD</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">"Before using this platform I didn't know what depression was if weather I could be diagnosed with it one day"</p>
                            <h3>Siboniso Masemola</h3>
                            <h4 class="card-title">Final Year Student at TUT</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card clean-testimonial-item border-0 rounded-0">
                        <div class="card-body">
                            <p class="card-text">"I still can't believe that I could just check if I have depression from the comfort of my own home"</p>
                            <h3>Kabelo Madiga</h3>
                            <h4 class="card-title">Account Manager at Sanlam.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>