<main class="page">
    <section class="clean-block slider">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" style="margin-top: 80px">
                    <strong>Diagnoses</strong>
                </h2>
                <p style="
            font-size: 30px;
            color: #7c1e3f;
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
          ">
                    Based on the answers you have summited you have Extremely Severe Depression.
                </p>
                <p style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 15px;
          ">
                    <strong>Please contact Dr Kekana so he can explain what this all mean and
            help you manage your condition</strong
          >
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 12px;
          "
        >
          You can find Dr Kekana via email on drkekana@gmail.com or call him on
          082 320 4533
        </p>
        <p></p>
      </div>
      <div class="block-heading">
        <p></p>
      </div>
    </div>
    <app-chart></app-chart>
  </section>
</main>