<main class="page">
  <section class="clean-block slider">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info" style="margin-top: 80px">
          <strong>Diagnoses</strong>
        </h2>
        <p
          style="
            font-size: 30px;
            color: #7c1e3f;
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
          "
        >
          Based on the answers you have summited you May have Extremely Severe
          Depression.
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 15px;
          "
        >
          <strong
            >Please urgently contact Dr RK Grewal or any local Psychiatrist so
            they can explain what this all mean and help you manage your
            condition</strong
          >
        </p>
        <p
          style="
            font-size: 30px;
            color: rgba(0, 0, 0, 0.9);
            font-family: 'Alfa Slab One', cursive;
            text-align: left;
            margin-top: 12px;
          "
        >
          You can find Dr RK Grewal at Akeso Alberton Clinic, 15 Clinton Road,
          New Redruth, 1449, Alberton or call him on 011 869 1367 / 011 907 2811
        </p>
        <p></p>
      </div>
      <div class="block-heading">
        <p></p>
      </div>
    </div>
    <app-chart></app-chart>
  </section>
</main>
