<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#" style="background: url(&quot;assets/img/Impilo%20yam.png&quot;) no-repeat;height: 86px;width: 111.547px;color: transparent;">Impilo Yam</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <!-- routerLink="/search" routerLinkActive="active" -->
                <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/benefits" routerLinkActive="active">Benefits</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact-us" routerLinkActive="active" h>Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet>
</router-outlet>

<app-footer></app-footer>